*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

    background-color: rgba(54, 52, 52, 0.846);
}

.image{
    height: 35px;
    width: 35px;
}

.coustomnav{
    background-color: rgb(52, 51, 51) !important ;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.177);
    position: fixed;
    z-index: 999;
    
}

.iconcolour a img{
    color: aliceblue !important;
}

.centericone{

    display: flex;    
    width: 35%;
    justify-content: space-around !important; 
    margin-right: 200px ;
    

}

.iconleft{
    display: flex;
    background-color: rgba(10, 10, 180, 0);
    justify-content: center;
    
 
}

 .searchbar{
    border-radius: 50px;
    height: 40px;
    align-items: center;
    margin-top: 8px;   
}

.dropdown{
    display: flex;
    flex-direction: column;
}

.dashboard{
    width: 100%;
    
}

.main{
    display: flex !important ;
    justify-content: space-around !important ;
    align-items: center !important ;
    width: 100%;
}



 .iconcolour{
    display: flex !important;
    justify-content: space-around !important; 
    gap: 50%;
}

.sideicon{

background-color: rgba(0, 255, 255, 0);
width: 100px;
display: flex;
justify-content: space-between;

}

.loginicon{

    /* display: flex !important; */
    justify-content: space-around !important;
}


.flexboxmain{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

 .leftdiv{

    height: 100vh;
    background-color: rgba(54, 52, 52, 0.846);
    width: 30%;
    padding: 30px; 
    top: 5%;  
    
}



.upperdiv{


     background-color: rgb(88, 82, 82);
     width: 100%;
     height: 14vh;
     width: 100%;
     border-radius: 10px;
     padding-top: 10px; 
     margin-top: 10px;

}

body{
     height: 100%;
}

.centerdivmain{   
    width:45%;
    height: 100vh;
    margin-left: 25%;
    background-color: rgba(54, 52, 52, 0.846);
    margin-top: 3%;
   
}


.rightdiv{
  
    height: 100vh;
    /* overflow-y: scroll; */
    background-color: rgb(54, 52, 52);
    width: 30%;
    padding: 30px;
    position: fixed;
    right: 0%;
    top: 56px;
    /* display: flex;
    justify-content: flex-end; */

}

.label{
    color: aliceblue;
    margin-right: 90px;
    font-weight: bold;
    
}



.inputbar{
    height: 40px;
    width: 80%;
    border-radius: 50px;
    padding-left: 10px;
}

 .upperdiv button{
    height: 40px;
    width: 80px;
    border-radius: 20px;
}

 .upperdiv img{
    margin-left: 10px;
    height: 35px;
    width: 35px;
}


.upperdivemoji{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    
}


.upperdivemoji button{

    margin-right: 100px;
    align-items: center;
    font-size: large;
    color: aliceblue;
    width: 100%;
    background: none;
    border: none;
    

}

.upperdivemoji button:hover{
    
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.246);
    transition: all ease-in;
    
}
.appendDiv{
    /* margin: 20px; */
    background-color: rgb(88, 82, 82); 
    margin-bottom: 10px;  
    width: 850px;
    border-radius: 10px;


}
.postingarea{
     width: 100%;
     height: fit-content;
     margin-top: 10px;
   
     background-color: rgba(54, 52, 52, 0.846);
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.pictureButtons{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;

}
.postNameDateTime{
    /* border: 2px solid red; */
    margin-left: 15px;
    margin-top: 10px;
}

.postNameDateTime h3{
    
    color: aliceblue;
    font-size: 22px;
    margin-bottom: 0%;  
}

.profilePostimg{
    margin-top: 10px;
}

.postNameDateTime span {
    font-size: 12px;
    margin-bottom: 10px;
    color: aliceblue;

}



.posteditbutton{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    
    

}


.posteditbutton img{
    height: 25px;
    width: 23px;
    color: aliceblue;
    filter: invert(100%);
}

.leftdiv{

    margin-left: 0;
    margin-top: 0%;
    background-color: rgb(53, 51, 51);
    padding-left: 1%;
    position: fixed;
    width: 25%;
}

.images span{

    color: rgb(255, 255, 255);
}



.images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
  background-color: rgba(250, 250, 250, 0);
  width: 200px;
  height: 70%;
  margin-left: 0;
  margin-top: 0%;



}

.singleimg{
    display: flex;
    justify-content: space-evenly;
    width: 120px;
 

}
.single{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    
}

#currentUserName{
    font-size: 30px;
    color: aliceblue;
}

.threeicon img{
    z-index: 1;
    color: aliceblue;
    
}


.rightdivnav h1{
    color: aliceblue;
    font-size: large;
}

.rightdivnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profileonline {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    gap: 90%;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    justify-content: space-between;
    
    
    
   
}

.profileonline img{
    background-color: aliceblue;
    border-radius: 50%;
    
}

.sidediv{
     width: 70%;
}

.profileonline span{
    color: aliceblue;
    margin-left: 10px;
    align-items: center;

}

.dot{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 200px;

}


.description{
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 20px;
}

.postimg{
    width: 850px;   
    height: 650px;
    display: flex;
    justify-content: center;
    
}

.postimg img{
    width: 100%;
    height: 100%;
    
}

.likeCommentShare{
    height: 50px;
    display: flex;
    width: 90%;
    margin-left: 90px;
    justify-content: space-between;
    margin-top: 8px;
 
}
.likeCommentShare button{
    background: none;
    border: none;
    color: aliceblue;
    /* margin-left: 65px; */
}

.likeCommentShare button img{
    filter: invert(100%);
}

.Comment{
    margin-left: 115px;
}

